@import "tailwindcss";

body {
  background-color: white;
}

.mono {
  font-family: 'Space Mono', monospace; 
}

.kanit {
  font-family: 'Kanit', sans-serif;
}

.pokemonCardImage {
  height: 320px;
  width: auto;
}

.logo {
  height: 80px;
  width: auto;
}