html {
  background-color: #F5F5F5;
}

body {
  font-family: 'Kanit', sans-serif;
  font-size: 14px;
}

.MainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Mono {
  font-family: 'Space Mono', monospace; 
}

.Kanit {
  font-family: 'Kanit', sans-serif;
}

.Logo {
  height: 85px;
  width: auto;
  margin: 10px 0 0 10px;
}

.PokemonCardImage {
  height: 320px;
  width: auto;
}

.RandomCardGeneratorButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Kanit;
  font-weight: 500;
  font-size: 1.5rem;
  background-color: #326FBB;
  color: white;
  border-radius: 30px;
  padding: 5px 30px;
  margin: 10px 0;
}

.CardEvolutionInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  paint-order: stroke fill;
  -webkit-text-stroke: 3px white;
  background-color: #ddd;
  width: fit-content;
  margin-left: 20px;
  border-radius: 10px 10px 0 0;
  font-size: clamp(1rem, 2vw, 1.3rem);
  overflow: hidden;
}

.PokemonName {
  font-size: clamp(1.25rem, 2vw, 1.5rem);
}

.HpAndType {
  display: flex;
  flex-direction: row;
  align-items: anchor-center;
}

.HPContainer {
  padding-right: 3px;
}

.CardStage, .EvolvesFrom {
  padding: 5px 10px;
  border-radius: 10px 10px 0 0;
}

.CardStage {
  background-color: #c9c9c9;
  box-shadow: 3px 0 4px #0002;
}

.EvolvesFrom {
  font-weight: 200;
  font-style: italic;
}

.CardDetails {
  background-color: white;
  border-radius: 5px;
  max-width: 500px;
  min-width: 400px;
  overflow: hidden;
}

.DiceIcon {
  height: 25px;
  width: auto;
  margin-left: 2px;
}

.sectionPadding {
  padding: 10px 20px;
}

.CardHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  box-shadow: 0 2px 10px #0001;
}

.HP {
  font-family: 'Space Mono', monospace; 
  font-size: clamp(.75rem, 2vw, .90rem);
  font-weight: bold;
}

.HpValue {
  font-size: clamp(1.5rem, 2vw, 1.75rem);
}

.EnergySymbol {
  height: clamp(1.25rem, 2vw, 1.5rem);
  width: auto;
}

.CardMoves {
  padding: 20px;
}

.AttackEffect {
  text-align: left;
  font-size: clamp(.875rem, 2vw, .95rem);
}

.AttackName {
  font-size: clamp(1.125rem, 2vw, 1.20rem);
}

.AttackDamage {
  font-size: clamp(1.5rem, 2vw, 1.75rem);
}

.CardAttributesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  box-shadow: 0 0px 10px #0002;
  position: relative;
}

.CardAttribute {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: clamp(1rem, 2vw, 1.25rem);
}

.AttributeHeader {
  text-decoration: underline;
  text-underline-offset: 3px;
  font-size: clamp(1rem, 2vw, 1.25rem);
  margin-bottom: 5px;
}

.CardSet {
  text-align: left;
  paint-order: stroke fill;
  -webkit-text-stroke: 3px white;
}

.CardIllustrator {
  display: flex;
  flex-direction: column;
  text-align: right;
  paint-order: stroke fill;
  -webkit-text-stroke: 3px white;
}

.WhiteLine {
  width: 2px;
  background-color: #fff;
}

.CardFooter {
  background-color: #cbcbcb;
  border-radius: 0 0 5px 5px;
  font-size: clamp(.875rem, 2vw, 1rem);
}